/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
#root {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
:root {
  --dark-color: #484c7f;
  --yellow-color: #f19828;
  --background-color: #f5f5f5;
  --text-color: #333;
  --border-radius: 4px;
}
body::-webkit-scrollbar {
  display: none;
}
