/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/sf-pro-rounded');

.loginpage {
  max-width: 1060px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Rounded', sans-serif;
}
body.dark-mode {
  background-color: #1e1f20;
}

body.light-mode {
  background-color: #f9fafb;
  color: #000000;
}
:root {
  --dark-color: #484c7f;
  --yellow-color: #f19828;
  --background-dark: #6c757d;
  --text-color: #333;
  --border-radius: 4px;
}
