/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
.loginpage {
  max-width: 1060px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
body{
padding: 0;margin: 0;
}
:root {
  --dark-color: #484c7f;
  --yellow-color: #f19828;
  --background-dark: #6c757d;
  --text-color: #333;
  --border-radius: 4px;
}
/* body::-webkit-scrollbar {
  display: none;
} */
